github "ReactiveX/RxSwift" ~> 4.0
github "RxSwiftCommunity/RxDataSources"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireNetworkActivityIndicator"
github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"
github "slackhq/SlackTextViewController" "master"
github "ashleymills/Reachability.swift" "v3"
github "CocoaLumberjack/CocoaLumberjack"
github "kishikawakatsumi/KeychainAccess"
github "SVProgressHUD/SVProgressHUD" "1.1.3"
github "CardinalNow/iOS-CircleProgressView"
github "utahiosmac/Marshal"
github "PureLayout/PureLayout"
github "xmartlabs/Eureka"
github "yapstudios/YapDatabase"
github "seedco/StackViewController"
github "ngocluu/FSCalendar" "bug-fixes"



